* {
    margin: 0 auto;
    max-width: 1200px;
    /* box-sizing: border-box; */
 }

 html {
   scroll-behavior: smooth;
 }
 
 body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
 }

 /* HEADER NAV */
header {
   width: 100%;
   height: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: black;
   color: #fff;
   padding: 0;
   margin: 0;
}

header .logo{
   height: 100%;
}

.logo img {
   width: 150px;
   height: 50px;
   object-fit: contain;
}

.nav-menu {
   width: 50%;
   text-align: center;
}

.nav-menu ul{
   list-style: none;
}

.nav-menu ul li {
   display: inline-block;
   /* width: 30%; */
   height: 100%;
   text-align: center;
   margin-right: 10px;
   padding: 0 15px;

   line-height: 50px;
   font-size: 1.5em;
}

.nav-menu ul li a {
   text-decoration: none;
   color: #fff;
}

.nav-menu ul li a:hover{
   border-bottom: 1.5px solid #fff;
   padding-bottom: 10px;
   width: 100%;
}

.icon {
   position: relative;
   height: 100%;
   width: 50px;
   text-align: center;
}

.icon i {
   color: #fff;
   font-size: 1.5em;
   line-height: 50px;
}


 /* Home page banner */
 
.banner img {
   max-width: 100%;
   height: auto;
   box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 1);
}

.banner{
   padding-bottom: 1em;
   margin-top: 20px;
}


/* Article area */

.article-container img {
   width: 100%;
   height: auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
 }

.article-container {
   display: flex;
   flex-wrap: wrap;
}

.shop-mens {
   order: 1;
   display:inline-block;
   position:relative;
   }
   
.shop-womens {
   order: 2;
   display:inline-block;
   position:relative;
}

   
.shop-mens a{
   position: absolute;
   bottom:4em;
   right:4em;
   background-color: black;
   border-radius:1.5em;
   font-weight: 300;
   letter-spacing: 2px;
   color:white;
   text-decoration: none;
   padding:1em 1.5em;
}

.shop-womens a{
   position: absolute;
   bottom:4em;
   right:4em;
   font-weight: 300;
   letter-spacing: 2px;
   background-color: black;
   border-radius:1.5em;
   color:white;
   text-decoration: none;
   padding:1em 1.5em;
}

/* Store location page */

.store-container {
   display: flex;
   justify-content: space-around;
}

.store-left {
   order: 1;
}

.store-right {
   order: 2;
}

/* MAIN CATALOGUE CONTENT */
.main-cat {
   height: 1200px;
   margin-top: 30px;

   display: flex;
   flex-direction: row;

}

.product-container {
   width: 85%;
   height: 100%;
   padding: 0 0 5px 0;
   margin: 0;
} 

/* SIDEBAR PRODUCT NAVIGATIONS MENU */

aside {
   width: 15%;
   min-width: 140px;
   height: 100%;
   /* padding-right: 5px; */
   border-right: 2px black ridge;
   background-color: black;

   text-align: center;
}

aside h1 {
   padding: 25px 0 10px 10px;
   color: #fff;
   font-size: 1.4em;
   font-weight: bolder;
   text-align: left;
}

aside .side-nav {
   width: 100%;
   margin-top: 20px;
   transform: translateX(-20px);
   color: #fff;
   text-align: left;
   line-height: 2em;
   padding: 0 auto;
}

.side-nav ul {
   list-style: none;
   padding-bottom: 20px;
   margin-bottom: 20px;
   border-bottom: 2px solid rgba(255, 255, 255, 0.3) ;
   font-size: 1.2em;
}

.side-nav ul p{
   margin-bottom: 15px;
   padding-bottom: 3px;
   text-decoration: underline;
}

.side-cat {
   margin-top: 25px;
   padding-bottom: 40px ;
}

.side-nav ul li {
   display: block;
}

.side-nav ul:hover{

}


/* Footer */
 
footer{
   width: 100%;
	/* position: relative; */
	/* bottom: 0; */
}
 
.footer-container{
	background-color:black;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 20px;
}
 
.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right{
	display: inline-block;
	vertical-align: top;
}




/* Footer left */
 
.footer-container .footer-left{
	width: 30%;
}
 
.footer-container h3{
	color:  #ffffff;
	font: normal 20px 'Roboto', sans-serif;
	margin: 0;
}
 
/* The company logo */
 
.footer-container .footer-left img{
	width: 30%;
}
 
 
/* Footer links */
 
.footer-container .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-container .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-container .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-container .footer-center{
	width: 35%;
}
 
 
.footer-container .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-container .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-container .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-container .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-container .footer-center p a{
	color:  white;
	text-decoration: none;
}
 
 
/* Footer Right */
 
.footer-container .footer-right{
	width: 30%;
}
 
.footer-container .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}
 
.footer-container .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-container .footer-icons{
	margin-top: 25px;
}
 
.footer-container .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
/* Media Queries Nav Bar */

/* @media all and (max-width: 1000px) {
   .navigation ul {
      flex-wrap: wrap;
   }
   
   .navigation li{
      flex: 1 1 50%;
   }

   .navigation .icon {
      flex: 1 1 33.33%;
   }
} */

/* @media all and (max-width: 480px) {
   .navigation li{
      flex-basis: 100%;
   }

   .navigation .icon {
      flex-basis: 50%;
   }
} */

/* Footer responsivness */
 
 
@media (max-height:800px){
	/* footer { position: static; } */
	/* header { padding-top:40px; } */
}
 
@media (max-width: 880px) {
 
	.footer-container .footer-left,
	.footer-container .footer-center,
	.footer-container .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-container .footer-center i{
		margin-left: 0;
	}
 
}

 /* Checkout responsivness 

 @media (max-width: 800px) {
   .row {
     flex-direction: column-reverse;
   }
   .col-25 {
     margin-bottom: 20px;
   }
 } */