* {
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
 }

 html {
   scroll-behavior: smooth;
 }
 
 body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
 }

 /* Nav Bar */

.nav-container a{
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   text-decoration: none;
   background: black;
   padding: 25px 5px;
   display: inline-block;
   width: 100%;
   text-align: center;
}

.logo img {
   height: 15px;
}

a:hover{
   background: lightgrey;
}

.nav-container{
   padding-bottom: 5em;
}
.navigation {
   position: fixed;
   width: 100%; 
   z-index: 1;
}

.navigation ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

.navigation li {
   flex: 3;    
}

.navigation .icon {
   flex: 1;
}

 .dropdown .dropbtn {
   color: white;
   font-weight: 300;
   letter-spacing: 2px;
   text-decoration: none;
   background: black;
   padding: 25px 5px;
   display: inline-block;
   width: 100%;
   text-align: center;
}

 .dropdown-content {
   display: none;
   position: absolute;
   background-color: black;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }

 .dropdown-content a {
   float: none;
   color: white;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   text-align: left;
 }
 
 .topnav a:hover, .dropdown:hover .dropbtn {
   background-color: lightgray;
 }

 .dropdown:hover .dropdown-content {
   display: block;
 }


/* Catalouge  */

.card-container1{
   display: flex;
   padding-bottom: 2em;
}

.card-container2{
   display: flex;
}
.card {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   max-width: 300px;
   margin: auto;
   text-align: center;
   font-family: arial;
 }
 
 .price {
   color: grey;
   font-size: 22px;
 }
 
 .card button {
   border: none;
   outline: 0;
   padding: 12px;
   color: white;
   background-color: #000;
   text-align: center;
   cursor: pointer;
   width: 100%;
   font-size: 18px;
 }
 
 .card button:hover {
   opacity: 0.7;
 }
 /* Home page banner */


.banner img {
   max-width: 100%;
   height: auto;
   box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 1);
}

.banner{
   padding-bottom: 1em;
}

/* Article area */

.article-container img {
   width: 100%;
   height: auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
 }

.article-container {
   display: flex;
   flex-wrap: wrap;
}

.shop-mens {
   order: 1;
   display:inline-block;
   position:relative;
   }
   
.shop-womens {
   order: 2;
   display:inline-block;
   position:relative;
}

   
.shop-mens a{
   position: absolute;
   bottom:4em;
   right:4em;
   background-color: black;
   border-radius:1.5em;
   font-weight: 300;
   letter-spacing: 2px;
   color:white;
   text-decoration: none;
   padding:1em 1.5em;
}

.shop-womens a{
   position: absolute;
   bottom:4em;
   right:4em;
   font-weight: 300;
   letter-spacing: 2px;
   background-color: black;
   border-radius:1.5em;
   color:white;
   text-decoration: none;
   padding:1em 1.5em;
}

/* Store location page */

.store-container {
   display: flex;
   justify-content: space-around;
}

.store-left {
   order: 1;
}

.store-right {
   order: 2;
}

/* checkout section */

.row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -10px;
 }
 
 .col-25 {
   flex: 25%;
 }
 
 .col-50 {
   flex: 50%;
 }
 
 .col-75 {
   flex: 75%;
 }
 
 .col-25,
 .col-50,
 .col-75 {
   padding: 0 16px;
 }
 
 .container {
   background-color: #cfcccc85;
   padding: 3px 18px 13px 18px;
   border: 1px solid lightgrey;
   border-radius: 3px;
 }
 
 input[type=text] {
   width: 100%;
   margin-bottom: 20px;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 3px;
 }
 
 label {
   margin-bottom: 10px;
   display: block;
 }
 
 .icon-container {
   margin-bottom: 20px;
   padding: 7px 0;
   font-size: 24px;
 }
 
 .btn {
   background-color: black;
   color: white;
   padding: 12px;
   margin: 10px 0;
   border: none;
   width: 100%;
   border-radius: 3px;
   cursor: pointer;
   font-size: 17px;
 }

 .btn:hover {
   background-color: lightgray;
 }
 
 a {
   color: #2196F3;
 }
 
 hr {
   border: 1px solid lightgrey;
 }
 
 span.price {
   float: right;
   color: grey;
 }

/* Footer */

 
footer{
	position: fixed;
	bottom: 0;
}
 
.footer-container{
	background-color:black;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 20px;
}
 
.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/* Footer left */
 
.footer-container .footer-left{
	width: 30%;
}
 
.footer-container h3{
	color:  #ffffff;
	font: normal 20px 'Roboto', sans-serif;
	margin: 0;
}
 
/* The company logo */
 
.footer-container .footer-left img{
	width: 30%;
}
 
 
/* Footer links */
 
.footer-container .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
 
.footer-container .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-container .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/* Footer Center */
 
.footer-container .footer-center{
	width: 35%;
}
 
 
.footer-container .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-container .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-container .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-container .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-container .footer-center p a{
	color:  white;
	text-decoration: none;
}
 
 
/* Footer Right */
 
.footer-container .footer-right{
	width: 30%;
}
 
.footer-container .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 15px;
	font-weight: normal;
	margin: 0;
}
 
.footer-container .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-container .footer-icons{
	margin-top: 25px;
}
 
.footer-container .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
/* Media Queries Nav Bar */

@media all and (max-width: 1000px) {
   .navigation ul {
      flex-wrap: wrap;
   }
   
   .navigation li{
      flex: 1 1 50%;
   }

   .navigation .icon {
      flex: 1 1 33.33%;
   }
}

@media all and (max-width: 480px) {
   .navigation li{
      flex-basis: 100%;
   }

   .navigation .icon {
      flex-basis: 50%;
   }
}

/* Footer responsivness */
 
 
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
 
@media (max-width: 880px) {
 
	.footer-container .footer-left,
	.footer-container .footer-center,
	.footer-container .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-container .footer-center i{
		margin-left: 0;
	}
 
}

 /* Checkout responsivness  */

 @media (max-width: 800px) {
   .row {
     flex-direction: column-reverse;
   }
   .col-25 {
     margin-bottom: 20px;
   }
 }